<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test Suite" parallel="methods"
	thread-count="8" verbose="1">
	<test name="UI Automation Test">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadlesss" value="${isHeadlesss}" />
		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.InvalidCredsLoginTest" />
			<class name="com.ui.tests.AddFirstNewAddressTest" />
			<class name="com.ui.tests.SearchProductTest" />
			<class name="com.ui.tests.ProductCheckoutTest" />
		</classes>
	</test>
</suite>